.stats-card{
  background:white;
  border-radius:14px;
  padding:20px;
  box-shadow:0 8px 20px rgba(0,0,0,.05);
}

.stats-card h4{
  color:#64748b;
  margin-bottom:10px;
}

.stats-card h2{
  color:#111827;
}